<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h3>Thank you for signing up for Monitor My Air!</h3>
  <p>You will get notifications at this email address whenever current or forecasted
    air quality in zip code <%= @notification.zip_code %> is likely to aggravate the following
    health conditions: <%= @notification.clean_conditions_message %>
   </p>
</body>
</html>
