
<div id="notifications-index">
  <h3> Your Notifications </h3>
<table class="table">
  <th> Name </th>
  <th> Email </th>
  <th> Phone Number </th>
  <th> Zip Code </th>
  <th> Health Concerns </th>
  <th> Update </th>
  <% @notifications.each do |notification| %>
  <%= render :template => 'notifications/_table', :locals => { :notification => notification } %>
  <% end %>
</table>

<%= button_tag(:class => "btn btn-info btn-sm",:id => "nbutton") do %>
   Create a New Notification
  <% end %>
</div>

<div id="new-notification-form" style="display:none">
<%= render "form" %>
</div>

<script charset="utf-8">
$("#notifications-index").hide()
$("#notifications-index").slideToggle(1000)
</script>
