<h3> <%= link_to "MONITOR MY AIR", home_index_path, method: 'get' %> </h3>

<div class = ".container-fluid">
  <div class = "row" id = "home-form">
    <div class="col-xs-2 col-sm-2 col-md-3 col-lg-4">
    </div>
    <div class="col-xs-6 col-sm-5 col-md-4 col-lg-3">
      <div id="reports_form">
        <%= render :template => 'reports/_form', :locals => { :@report => @report } %>
    </div>
  </br>

    <div>
    <% if current_user %>
        <%= form_tag notifications_path, method: :get do %>
        <%= button_tag(:class => "btn btn-info btn-sm notifications-btn") do %>
           Create Notifications
          <% end %>
      <% end %>
    <% else %>
      <button type="button" class="btn btn-sm btn-info notifications-btn" data-toggle="popover" data-content="You must be logged in to create notifications.">Create Notifications</button>
    <% end %>
    </div>
    <br>
  </div>
</div>
