

#create_reports_form {
  #zip-code{
    width: 125px;
  }

  .btn {
    background-color: #008AE6;
    border-radius: 8px;
    border-color: #008AE6;
  }

  p {
    font-size: 16px;
    padding-top: 22px;
  }
  margin-top: 9px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  line-height: 1.8;
  background: rgba(150, 220, 255, 0.6);
  border-radius: 10px;
  border: 1px dotted white;
  margin-left: -21px;
}

#reports_form {

  .btn {
    background-color: #008AE6;
    border-radius: 8px;
    border-color: #008AE6;
  }

  #zip-code{
    width: 125px;
  }

  p {
    color: white;
    font-size: 16px;
  }
  margin-top: 9px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  line-height: 1.8;
  background: rgba(150, 220, 255, 0.6);
  border-radius: 10px;
  border: 1px dotted white;
  width: 470px;
  margin-left: -21px;
}

#notifications-form {
  margin-top: 10px;
  padding-left: 15px;
  padding-bottom: 10px;
  line-height: .6;
  background:rgba(150,220,255,0.6);
  border-radius: 10px;
  border: 1px dotted white;

  #text-fields {
    width: 80%;
    margin-top: 10px;
  }

  .btn {
    background-color: #008AE6;
    border-radius: 8px;
    border-color: #008AE6;
  }
}

.popover {
  min-width: 250px;
}

#logo-header {
margin-top: 28px;
width: 571px;
margin: auto;

  .btn {
    color: #008AE6;
  }

  h3 {
  font-size: 64px;
  font-family: 'Lato', sans-serif
  }

  a {
    color: white;


  }

  a:hover {
    text-decoration: none;
  }

  img {
    width: 256px;
    height: 177px;
    margin-bottom: -135px;
    margin-left: 105px;
  }


}

#new-notification-form {
  width: 32%;
  margin: auto;
}

#notifications-index {
  width: 80%;
  margin: auto;

  .btn {
    background-color: #008AE6;
    border-radius: 8px;
    border-color: #008AE6;
  }
}

#account {
  color: white;
}

#nav-items {
  min-height: 76px;
  .btn {
    background-color: #008AE6;
    border-radius: 8px;
    margin-left: 49px;
    border-color: #008AE6;
  }
}

#account {
  margin-left: 10px;
}

#notifications {
  margin-left: 10px;
  margin-bottom: -37px;
}

#report {
  line-height: 1.6;
  background:rgba(150,220,255,0.6);
  border-radius: 10px;
  border: 1px dotted white;
  margin-top: 9px;

  .btn {
    background-color: #008AE6;
    border-radius: 8px;
    border-color: #008AE6;
  }
}

#notifications-index {
  color:black;
  background:rgba(150,220,255,0.6);
  border-radius: 10px;
  padding: 10px;
  margin-top: 50px;
  font-size: 20px;

    table {
      margin-bottom: 0;
    }
    td {
      color: #4F4F4F;
    }

    th {
      color: #404040
    }
    h3 {
      margin: auto;
      width:20%;
      padding-bottom: 9px;
      font-size: 25px;
      color: black;
    }
}

.button_group {
  display: inline-block;
}

#loadingDiv {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: 0 none;
  height: 1px;
  left: 50%;
  margin-left: -200px;
  margin-top: -75px;
  position: fixed;
  top: 50%;
  width: 100px;
  z-index: 9999999;
}

#api_doc {
  float:right;
  margin-right: 10px;
  margin-top:-39px;
  a { color: white;
    }
}

#api-docs-page {
  width: 80%;
  margin: auto;
  background:rgba(150,220,255,0.6);
  border-radius: 10px;
  border: 1px dotted white;
  padding: 10px;
}

#subscript {
  margin-top:-8px;
}

#warnings {
  margin-top: 9px;
}

#headers {
  outline-top: none;
}
