#reports_form {

  #zip-code{
    width: 150px;
  }
line-height: 1.8;
}

#notifications-form {
  width: 40%;
  margin: auto;
}

.popover {
  min-width: 250px;
}

#logo {
  a {
    color: black;
  }
}

#new-notification-form {
  width: 40%;
  margin: auto;
}

#notifications-index {
  width: 80%;
  margin: auto;
}

#page {
  background-image: url('http://api.ning.com/files/w3eiFFRDzzdCH93QopFipKQ1gig3pdpkO9xGpMhjKwyEh16bQ*kcyYxfhTMvM33z6VLYwU8qJHtcfLDWMoWIADe-AphnwwR7/SkyBlueSky.jpg');
  margin-bottom: 0;
  background-repeat:no-repeat;
  background-size:100% 100%;
}
