#reports_form {

  #zip-code{
    width: 150px;
  }

}

#notifications-form {
  width: 40%;
  margin: auto;
}

.popover {
  min-width: 250px;
}

#logo {
  a {
    color: black;
  }
}

#new-notification-form {
  width: 40%;
  margin: auto;
}

#notifications-index {
  width: 80%;
  margin: auto;
}
